/* app/globals.css */

/* global font styles */
@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: 'Aileron', Arial, sans-serif;
}

body, html{
  margin : 0;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin-right: 2vh;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0); /* transparent background */
  z-index: 1000;
  padding: 1vh 2vh;
}

.vireon-logo {
  padding: 2vh 2vw;
  margin-left: 2vw;
  height: 110%;
  width: auto;
}

.menu-buttons button {
  margin: 0 10px;
  padding: 1vh 1vw;
  background-color: transparent;
  transition: color .6s ease;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.menu-buttons button:hover {
  background-color: white;
  color: black;
}

.menu-buttons button:active {
  transition: color 0.2s ease;
  color: white;
}

.top-section, .middle-section {
  background-image: url('/images/night-sky.png'), radial-gradient(circle, rgba(37,27,88,0.916) 0%, rgba(18,47,87,0.779) 40%, rgba(0,0,0,0.938) 100%);
  background-color:black;
  background-size: cover;
  color: white;
  height: 100vh;
 

  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section {
  background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(36,19,170,1) 100%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  width: 90%;
  height: 100vh;
}

.hero-text {
  flex: 0 0 50%;
  margin: 2vw;
}

#office-buildings {
  width: 30%;
  height: auto;
}

#chart-man {
  width: 30%;
  height: auto;

}
#house{
  width : 65%;
  height : auto;
}
.hero-logo {
  margin-top: auto;
  flex: 0 0 40%;

}

.hero-text h1, .hero-text h2, .hero-text p {
  margin: 0;
}


@media (min-width: 768px) { /* 1080p resolution */
  .menu-bar {
    padding: 2vh 2vh;
  }

  .menu-buttons button {
    padding: 1.5vh 2vw;
    font-size: 1.1rem;
  }
  
  .hero-content {
    flex-direction: row;
    text-align: left;
  }

  .bottom-section {
    flex-direction: row;
    text-align: left;
  }

  .hero-text {
    margin-right: 2vw;
    margin-bottom: 0;
  }
  body, html {
    font-size: 1rem;
  }

  h1 {
    font-size: 7.7rem;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.7rem;
    margin: 0;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 5.5rem;
  }

  p {
    font-size: 1.6rem;
  }

}

@media (min-width: 2300px) { /* 1440p resolution */
  body, html {
    font-size: 1.1rem;
  }

  .menu-bar {
    padding: 2vh 0vw;
  }
  .menu-buttons button {
    padding: 1.5vh 2vw;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 9.43rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3.5rem;
    margin: 0;
  }
  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
  }


}

@media (min-width: 3400px) { /* 4k resolution */
  body, html {
    font-size: 1.2rem;
  }

  .menu-bar {
    padding: 0vh 0vwh;
  }

  .menu-buttons button {
    padding: 1vh 1vw;
    font-size: 1.5em;
  }

  h1 {
    font-size: 13rem;
  }

  h2 {
    font-size: 5.75rem;

  }
  h3 {
    font-size: 5.5rem;
    margin: 0;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 12rem;
  }
  p {
    font-size: 2.75rem;
  }
  #dollar-icon {
    width: 20%;
    height: auto;
  }
  #towers-icon {
    width: 15%;
    height: auto;
  }
  #people-icon {
    width: 20%;
    height: auto;
  }


}

.middle-bottom-section {
  display: flex;
  background-color: black;
  color: white;
  height: 27vh;
  justify-content: space-evenly;
  align-items: center;
}

.middle-bottom-section h2 {
  padding: 0.5vh;
  margin: 0;
}

.middle-bottom-section .stat span.fade-in {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.stat {
  text-align: center;
}

.bottom-section {
  background-image: linear-gradient(0deg, rgba(24,24,24,255) 0%, rgb(0, 0, 0) 100%);
  background-size: cover;
  color: white;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  
  text-align: center;

  text-align: left;
  padding-right: 10vh;
  padding-left: 10vh;
  display: flex;
}

#description{
  margin-left : 6vh;
}

.interests{
  padding : 2.5vh;
}

.bottom-right {
  margin-top: auto;
  flex: 0 0 40%;
}







.portfolio{
  background: url('/images/black-background-long.jpg');
  background-color: black;
  background-size: cover;
  height : auto;
  color : white;
  align-items: center;
  text-align: center;
  padding : 0;
  justify-content: center;
}
.portfolio-Title{
  padding : 10vh;
}
.portfolio-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(4, 1fr);    /* 4 rows */
  gap: 10px; /* Adjust the gap between items */
  width: 100%;
  gap : 5rem;
  
}
.property {
  border: 5px solid white;
  border-radius : 30%;
}

.contact-us{
  background-color : black;
  background-size : cover;
  height : 30vh;
  color : white;
  flex-direction : row;
  display : flex;
  justify-content: space-evenly;
  align-items : center;
  text-align : center;
  padding: 3vh 3vw;
}

.contact-info{
  align-self : flex-end;
}

.inbetween-spacing{
  height : 5vh;
}

.meet-the-team {
  background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(36,19,170,1) 100%);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  padding: 5vh 2vw;
  height: 100vh;
}

.team-Title {
  margin-bottom: 0vh;
}

.profile-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Headshot {
  width: 170%;
  height: auto;
  max-width: 300px; /* Initial size */
  transition: max-width 0.3s ease;
  border: 2px solid white;
  border-radius : 5%;
}

@media (min-width: 768px) {
  .Headshot {
    max-width: 400px; /* Size for 1080p resolution */
  }
}

@media (min-width: 2300px) {
  .Headshot {
    max-width: 500px; /* Size for 1440p resolution */
  }
}

@media (min-width: 3400px) {
  .Headshot {
    /* width: 1000px; Size for 4k resolution */
    /* height: auto; */
    flex : 0 0 100%;
    

    
  }
}

