/* app/globals.css */

/* global font styles */
@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: 'Aileron', Arial, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
  padding: 1vh 1vw;
}

.vireon-logo {
  margin-left: 2vw;
}

.menu-buttons {
  margin-right: 2vw;
}

.menu-buttons button {
  margin: 0 10px;
  padding: 1vh 1vw;
  background-color: transparent;
  transition: color .6s ease;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
}

.menu-buttons button:hover {
  background-color: white;
  color: black;
}

.menu-buttons button:active {
  transition: color 0.1s ease;
  color: white;
}

.top-section {
  background-image: url('/images/night-sky.jpeg');
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 15vw;
}

.hero-text {
  margin: 2vw;
}

.hero-logo {
  margin: 2vw;
}

.hero-text h1 {
  font-size: 5em;
  margin: 0;
}

.hero-text h2 {
  font-size: 2em;
  margin: 0;
}


.hero-text {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    text-align: left;
  }

  .hero-text {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.middle-section {
  display: flex;
  background: linear-gradient(to right, black, blue);
  color: white;
  padding: 50px;
}

.middle-left, .middle-right {
  flex: 1;
}

.middle-bottom-section {
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
  justify-content: space-around;
}

.stat {
  text-align: center;
}

.bottom-section {
  background-image: url('/images/night-sky.jpeg');
  background-size: cover;
  color: white;
  padding: 50px;
  display: flex;
}

.bottom-left {
  flex: 1;
}

.bottom-right {
  flex: 2;
}

.bottom-right .interest {
  margin-bottom: 20px;
}
